{block content}
    <h2>Products Admin</h2>

    <a n:href="Home:default">Home</a>

    <a n:href="Product:create">Create New</a>

    <div n:foreach="$products as $product">
        <p>ID --- {$product->getId()}</p>
        <p>Name --- {$product->getName()}</p>
        <a n:href="Product:edit $productId=$product->getId()">Edit</a>
    </div>
{/block}